body {   
    font-weight: 400;   
    line-height: 1.7;  
    background-color: $color-primary-light-grey;
    font-family: 'Roboto', sans-serif;    
    color: #757575;
    letter-spacing: .5px;  
}

.ad-page-title {
    font-size: 1.666667rem;
    line-height: 1.666667rem;
    color: $color-black;
    font-weight: 600;
}