.section-wrapper{

}
.content{
	display: block;	   
	margin: 0 0 0 $width-sidebar; 
	padding: 70px 1.666667rem;     
	overflow-x: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}	


