.grid {
  width: 100%;
  display: block;
  padding: .5rem 1rem; }

.grid.no-pad {
  padding: 0; }

.grid.wide {
  max-width: 1200px;
  margin: 0 auto; }

.rows {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px; }

.rows.no-gutters {
  margin-left: 0;
  margin-right: 0; }

.col {
  padding-left: 4px;
  padding-right: 4px; }

.rows.no-gutters .col {
  padding-left: 0;
  padding-right: 0; }

.c-0 {
  display: none; }

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.c-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.c-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.c-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.c-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.c-o-1 {
  margin-left: 8.33333%; }

.c-o-2 {
  margin-left: 16.66667%; }

.c-o-3 {
  margin-left: 25%; }

.c-o-4 {
  margin-left: 33.33333%; }

.c-o-5 {
  margin-left: 41.66667%; }

.c-o-6 {
  margin-left: 50%; }

.c-o-7 {
  margin-left: 58.33333%; }

.c-o-8 {
  margin-left: 66.66667%; }

.c-o-9 {
  margin-left: 75%; }

.c-o-10 {
  margin-left: 83.33333%; }

.c-o-11 {
  margin-left: 91.66667%; }

.header {
  width: calc(100% - 225px);
  height: 5rem;
  max-height: 5rem;
  box-sizing: border-box;
  margin-left: 225px;
  padding: 0 1.416666rem 0 1rem;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12);
  box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12); }
  .header__form-group {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    align-items: center; }
  .header__button {
    display: inline-block;
    outline: none;
    border: none;
    font-size: 1.3rem;
    user-select: none;
    background-color: transparent;
    color: #353434; }
  .header__form {
    flex-grow: 1;
    padding: .375rem 2.0rem .375rem .75rem;
    margin-left: 2rem;
    position: relative;
    border-radius: 0.25rem;
    border: 1px solid #d8d8d8;
    font-size: 15px;
    background-color: #ffffff;
    /* <= phone */
    /* <= phone 739px | 1em trong media la 16px ok*/
    /* >= Tablet 740 */
    /* Tablet - PC low resolution 740px - 1023px ok*/
    /* > PC Low 1024px - 1239px ok*/
    /* PC medium resolution > 1113px */ }
    @media (max-width: 46.1875em) {
      .header__form {
        display: none; } }
  .header__input {
    width: 100%;
    padding: 0 1.3rem;
    outline: none;
    border: none;
    color: #495057;
    background-color: transparent; }
  .header__input::placeholder {
    color: #d8d8d8; }
  .header__input::-webkit-input-placeholder {
    color: #d8d8d8; }
  .header__input:-ms-input-placeholder {
    color: #d8d8d8; }
  .header__btn-search {
    padding-right: .6rem;
    position: absolute;
    top: 50%;
    left: 96%;
    z-index: 1;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #ffffff;
    background-color: transparent;
    outline: none;
    border: none; }

.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .footer__copyright {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.65); }

.content {
  display: block;
  margin: 0 0 0 225px;
  padding: 70px 1.666667rem;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 46.25em) and (max-width: 63.9375em) {
    html {
      font-size: 50%; } }
  @media (min-width: 69.5625em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) and (max-width: 63.9375em) {
    body {
      padding: 0px; } }

.scrollbar {
  height: 300px;
  margin-bottom: 25px; }

.force-overflow {
  min-height: 450px; }

#style-7::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f8f7ff;
  border-radius: 10px; }

#style-7::-webkit-scrollbar {
  width: 8px;
  background-color: #f8f7ff; }

#style-7::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b5b7b9; }

body {
  font-weight: 400;
  line-height: 1.7;
  background-color: #f8f7ff;
  font-family: 'Roboto', sans-serif;
  color: #757575;
  letter-spacing: .5px; }

.ad-page-title {
  font-size: 1.666667rem;
  line-height: 1.666667rem;
  color: #000000;
  font-weight: 600; }

.u-background-white {
  background-color: #ffffff; }

.u-text-white {
  color: #ffffff; }

.u-gradient-ibiza {
  background: #ee0979;
  background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00) !important;
  background: linear-gradient(45deg, #ee0979, #ff6a00) !important; }

.u-gradient-ohhappiness {
  background: #00b09b;
  background: -webkit-linear-gradient(45deg, #00b09b, #96c93d) !important;
  background: linear-gradient(45deg, #00b09b, #96c93d) !important; }

.u-gradient-orange {
  background: #fc4a1a;
  background: -webkit-linear-gradient(45deg, #fc4a1a, #f7b733) !important;
  background: linear-gradient(45deg, #fc4a1a, #f7b733) !important; }

.u-gradient-scooter {
  background: #4facfe;
  background: -webkit-linear-gradient(45deg, #4facfe 0%, #00f2fe 100%) !important;
  background: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%) !important; }

.u-badge-dot > i {
  display: inline-block;
  width: .385rem;
  height: .385rem;
  margin-right: .385rem;
  vertical-align: middle;
  border-radius: 50%; }

.u-badge-dot__bg-danger {
  background-color: #eb5076 !important; }

.u-badge-dot__bg-success {
  background-color: #04b962 !important; }

.u-badge-dot__bg-warning {
  background-color: #ff8800 !important; }

.u-badge-dot__bg-info {
  background-color: #14b6ff !important; }

.u-progress {
  display: -ms-flexbox;
  display: flex;
  height: .5rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: .25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  .u-progress--shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }
  .u-progress__bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    transition: width .6s ease; }

.u-margin-bottom-no {
  margin-bottom: 0 !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.small-font {
  font-size: 1.166667rem; }

.md-font {
  font-size: 2.5rem; }

.u-center-text {
  text-align: center !important; }

.u-align-center {
  height: 100%; }

.sidebar {
  width: 225px;
  position: fixed;
  z-index: 2;
  min-height: 100vh;
  background-color: #ffffff; }
  .sidebar--nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  .sidebar__brand-logo {
    height: 5rem;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-bottom: 1px solid rgba(66, 59, 116, 0.15); }
  .sidebar__logo-icon {
    width: 35px;
    margin-right: .5rem; }
  .sidebar__logo-text {
    color: #4e4e4e;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    display: inline-block;
    text-transform: uppercase; }
  .sidebar__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .sidebar__item {
    display: block;
    height: 3.6rem;
    text-align: left; }
    .sidebar__item--dropdown {
      position: relative; }
      .sidebar__item--dropdown::after {
        width: 1rem;
        position: absolute;
        content: "\f107";
        top: 50%;
        left: 87%;
        transform: translateY(-50%);
        font-weight: 900;
        font-family: 'fontAweSome';
        border: 0; }
  .sidebar__link:link, .sidebar__link:visited {
    color: #4e4e4e;
    text-decoration: none;
    display: block;
    width: 100%;
    height: inherit; }
    .sidebar__link:link:hover, .sidebar__link:visited:hover {
      color: rgba(255, 255, 255, 0.75); }
  .sidebar__link--active {
    color: #ffffff !important; }
  .sidebar__title-page {
    font-size: 1.3rem;
    display: inline; }
  .sidebar__dropdown-menu {
    display: none; }

.bread-crumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .5rem 0;
  margin-bottom: 1rem;
  border-radius: .25rem;
  list-style: none; }
  .bread-crumb__link {
    text-decoration: none; }
  .bread-crumb__item {
    padding-right: .5rem; }
    .bread-crumb__item + .bread-crumb__item::before {
      display: inline-block;
      padding-right: .5rem;
      color: #6c757d;
      content: "/"; }

.card-box {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin-bottom: 2.083333rem;
  box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12);
  border: none; }
  .card-box__body {
    flex: 1 1 auto;
    padding: 1.666667rem; }
  .card-box__title {
    font-size: 1.5rem;
    color: #ffffff;
    line-height: 1.833333rem; }
  .card-box__order {
    color: #ffffff; }
  .card-box__progress {
    display: -ms-flexbox;
    display: flex;
    height: .5rem;
    margin: 1.333333rem 0;
    overflow: hidden;
    font-size: .75rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: .25rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }
  .card-box__progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background-color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease; }
  .card-box--one {
    background: linear-gradient(45deg, #6a11cb, #2575fc); }
  .card-box--two {
    background: linear-gradient(45deg, #fc4a1a, #f7b733); }
  .card-box--three {
    background: linear-gradient(45deg, #00b09b, #96c93d); }
  .card-box--four {
    background: linear-gradient(45deg, #ee0979, #ff6a00); }

.card-block {
  margin-bottom: 25px;
  padding: 0 1.25rem;
  box-shadow: 0 5px 15px #3962fe05, 0 3px 6px #756cfe1f;
  border: none;
  background-color: #ffffff; }
  .card-block__header {
    padding: 0.75rem 0;
    margin-bottom: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-weight: 600;
    font-size: 1.333333rem;
    color: #353434; }
    .card-block__header:first-child {
      border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0; }
  .card-block__body {
    padding: 1.25rem 0;
    color: #212529; }
    .card-block__body table th,
    .card-block__body table td {
      padding: 1.25rem; }
  .card-block__body-label {
    padding-top: calc(1.375rem + 1px);
    padding-bottom: calc(1.375rem + 1px);
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1;
    font-weight: bold; }
  .card-block__form-ctl {
    padding: 1.375rem .75rem; }
    .card-block__form-ctl--rounded {
      border-radius: 30px !important; }
  .card-block__img-product {
    height: 32px; }
  .card-block__dropzone {
    min-height: 230px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 6px; }
  .card-block__form-vertical label, .card-block__form-horizontal label {
    color: #585858;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px; }
  .card-block__form-vertical input::placeholder, .card-block__form-horizontal input::placeholder {
    color: #d8d8d8 !important; }
  .card-block__form-vertical input:-ms-input-placeholder, .card-block__form-horizontal input:-ms-input-placeholder {
    color: #d8d8d8 !important; }
  .card-block__form-vertical input::-ms-input-placeholder, .card-block__form-horizontal input::-ms-input-placeholder {
    color: #d8d8d8 !important; }
  .card-block__register-btn {
    color: #fff;
    background-color: #7934f3;
    border-color: #7934f3;
    border-radius: .25rem;
    font-size: .95rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 9px 19px;
    text-transform: uppercase;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); }

.dropdown-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%; }
  .dropdown-list__item {
    display: inline-block;
    padding: .5rem 1.2rem;
    position: relative; }
  .dropdown-list__link {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 1.8rem;
    color: #353434;
    position: relative; }
  .dropdown-list__img {
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .dropdown-list__badge {
    position: absolute;
    top: -10px;
    left: 6px;
    z-index: 1;
    display: inline-block;
    padding: .4em .7em;
    font-size: 50%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    color: #ffffff; }
    .dropdown-list__badge--bell {
      background-color: #7934f3; }
    .dropdown-list__badge--envelope {
      background-color: #14b6ff; }
  .dropdown-list__sub {
    border: 0px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12) !important;
    box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12) !important;
    font-size: 15px;
    background-color: #fff;
    color: #353434;
    border-bottom: 1px solid rgba(66, 59, 116, 0.15);
    padding: 1rem !important; }
  .dropdown-list__sub-media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start; }
  .dropdown-list__sub-avatar {
    margin-right: 16px; }
  .dropdown-list__sub-img {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .dropdown-list__sub-title {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin-bottom: 2px; }
  .dropdown-list__sub-subtitle {
    font-size: 13px;
    color: #585858;
    margin-bottom: 0; }
  .dropdown-list__icon {
    padding-right: 12px; }
  .dropdown-list__divider {
    margin: 0;
    border-top: 1px solid rgba(66, 59, 116, 0.15); }

.dropdown-item {
  padding: .70rem 1.5rem;
  color: #505050; }

[class*="icheck-material"] {
  min-height: 22px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 0px; }

.icheck-material-primary > input:first-child {
  background-color: #7934f3; }

[class*="icheck-material"] > input:first-child {
  position: absolute !important;
  opacity: 0;
  margin: 0;
  background-color: #787878;
  border-radius: 50%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  display: block;
  width: 22px;
  height: 22px;
  outline: none;
  transform: scale(2);
  -ms-transform: scale(2);
  transition: opacity 0.3s, transform 0.3s; }

[class*="icheck-material"] > input:first-child:active {
  transform: scale(0);
  -ms-transform: scale(0);
  opacity: 1;
  transition: opacity 0s, transform 0s; }

label {
  color: #585858;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px; }

[class*="icheck-material"] > label {
  padding-left: 29px !important;
  min-height: 22px;
  line-height: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer; }

[class*="icheck-material"] > input:first-child + label::before, [class*="icheck-material"] > input:first-child + input[type="hidden"] + label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.46);
  border-radius: .25rem;
  margin-left: -29px;
  box-sizing: border-box; }

.icheck-material-primary > input:first-child:checked + label::before, .icheck-material-primary > input:first-child:checked + input[type="hidden"] + label::before {
  background-color: #7934f3;
  border-color: #7934f3; }

[class*="icheck-material"] > input[type="checkbox"]:first-child:checked + label::after, [class*="icheck-material"] > input[type="checkbox"]:first-child:checked + input[type="hidden"] + label::after {
  width: 6px;
  height: 12px;
  transform: translate(7px, 2px) rotate(45deg);
  -ms-transform: translate(7px, 2px) rotate(45deg); }

[class*="icheck-material"] > input:first-child:checked + label::after, [class*="icheck-material"] > input:first-child:checked + input[type="hidden"] + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 10px;
  border: solid 2px #fff;
  border-left: none;
  border-top: none;
  transform: translate(7.75px, 4.5px) rotate(45deg);
  -ms-transform: translate(7.75px, 4.5px) rotate(45deg);
  box-sizing: border-box; }

.icheck-material-primary > input:first-child:checked + label::after, .icheck-material-primary > input:first-child:checked + input[type="hidden"] + label::after {
  border-bottom-color: #fff;
  border-right-color: #fff; }

.row {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .row {
      margin-left: -8px;
      margin-right: -8px; } }

.col {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .col {
      padding-left: 8px;
      padding-right: 8px; } }

.mo-0 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-0 {
      display: none; } }

.mo-1,
.mo-2,
.mo-3,
.mo-4,
.mo-5,
.mo-6,
.mo-7,
.mo-8,
.mo-9,
.mo-10,
.mo-11,
.mo-12 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-1,
    .mo-2,
    .mo-3,
    .mo-4,
    .mo-5,
    .mo-6,
    .mo-7,
    .mo-8,
    .mo-9,
    .mo-10,
    .mo-11,
    .mo-12 {
      display: block; } }

.mo-1 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%; } }

.mo-2 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%; } }

.mo-3 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-3 {
      flex: 0 0 25%;
      max-width: 25%; } }

.mo-4 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }

.mo-5 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%; } }

.mo-6 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-6 {
      flex: 0 0 50%;
      max-width: 50%; } }

.mo-7 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%; } }

.mo-8 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%; } }

.mo-9 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-9 {
      flex: 0 0 75%;
      max-width: 75%; } }

.mo-10 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%; } }

.mo-11 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%; } }

.mo-12 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-12 {
      flex: 0 0 100%;
      max-width: 100%; } }

.mo-o-1 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-1 {
      margin-left: 8.33333%; } }

.mo-o-2 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-2 {
      margin-left: 16.66667%; } }

.mo-o-3 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-3 {
      margin-left: 25%; } }

.mo-o-4 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-4 {
      margin-left: 33.33333%; } }

.mo-o-5 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-5 {
      margin-left: 41.66667%; } }

.mo-o-6 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-6 {
      margin-left: 50%; } }

.mo-o-7 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-7 {
      margin-left: 58.33333%; } }

.mo-o-8 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-8 {
      margin-left: 66.66667%; } }

.mo-o-9 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-9 {
      margin-left: 75%; } }

.mo-o-10 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-10 {
      margin-left: 83.33333%; } }

.mo-o-11 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) {
    .mo-o-11 {
      margin-left: 91.66667%; } }

.wide {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide {
      width: 984px; } }

.wide .row {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .row {
      margin-left: -12px;
      margin-right: -12px; } }

.wide .row.sm-gutter {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .row.sm-gutter {
      margin-left: -5px;
      margin-right: -5px; } }

.wide .col {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .col {
      padding-left: 12px;
      padding-right: 12px; } }

.wide .row.sm-gutter .col {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .row.sm-gutter .col {
      padding-left: 5px;
      padding-right: 5px; } }

.wide .l-0 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-0 {
      display: none; } }

.wide .l-1,
.wide .l-2,
.wide .l-2-4,
.wide .l-3,
.wide .l-4,
.wide .l-5,
.wide .l-6,
.wide .l-7,
.wide .l-8,
.wide .l-9,
.wide .l-10,
.wide .l-11,
.wide .l-12 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
      display: block; } }

.wide .l-1 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%; } }

.wide .l-2 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%; } }

.wide .l-2-4 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-2-4 {
      flex: 0 0 20%;
      max-width: 20%; } }

.wide .l-3 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-3 {
      flex: 0 0 25%;
      max-width: 25%; } }

.wide .l-4 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }

.wide .l-5 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%; } }

.wide .l-6 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-6 {
      flex: 0 0 50%;
      max-width: 50%; } }

.wide .l-7 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%; } }

.wide .l-8 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%; } }

.wide .l-9 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-9 {
      flex: 0 0 75%;
      max-width: 75%; } }

.wide .l-10 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%; } }

.wide .l-11 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%; } }

.wide .l-12 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-12 {
      flex: 0 0 100%;
      max-width: 100%; } }

.wide .l-o-1 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-1 {
      margin-left: 8.33333%; } }

.wide .l-o-2 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-2 {
      margin-left: 16.66667%; } }

.wide .l-o-3 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-3 {
      margin-left: 25%; } }

.wide .l-o-4 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-4 {
      margin-left: 33.33333%; } }

.wide .l-o-5 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-5 {
      margin-left: 41.66667%; } }

.wide .l-o-6 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-6 {
      margin-left: 50%; } }

.wide .l-o-7 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-7 {
      margin-left: 58.33333%; } }

.wide .l-o-8 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-8 {
      margin-left: 66.66667%; } }

.wide .l-o-9 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-9 {
      margin-left: 75%; } }

.wide .l-o-10 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-10 {
      margin-left: 83.33333%; } }

.wide .l-o-11 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 64em) and (max-width: 77.4375em) {
    .wide .l-o-11 {
      margin-left: 91.66667%; } }

.wide {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 46.25em) and (max-width: 63.9375em) {
    .wide {
      width: 644px; } }

.row {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .row {
      margin-left: -12px;
      margin-right: -12px; } }

.row.sm-gutter {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .row.sm-gutter {
      margin-left: -5px;
      margin-right: -5px; } }

.col {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .col {
      padding-left: 12px;
      padding-right: 12px; } }

.row.sm-gutter .col {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .row.sm-gutter .col {
      padding-left: 5px;
      padding-right: 5px; } }

.l-0 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-0 {
      display: none; } }

.l-1,
.l-2,
.l-2-4,
.l-3,
.l-4,
.l-5,
.l-6,
.l-7,
.l-8,
.l-9,
.l-10,
.l-11,
.l-12 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
      display: block; } }

.l-1 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%; } }

.l-2 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%; } }

.l-2-4 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-2-4 {
      flex: 0 0 20%;
      max-width: 20%; } }

.l-3 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-3 {
      flex: 0 0 25%;
      max-width: 25%; } }

.l-4 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; } }

.l-5 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%; } }

.l-6 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-6 {
      flex: 0 0 50%;
      max-width: 50%; } }

.l-7 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%; } }

.l-8 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%; } }

.l-9 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-9 {
      flex: 0 0 75%;
      max-width: 75%; } }

.l-10 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%; } }

.l-11 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%; } }

.l-12 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-12 {
      flex: 0 0 100%;
      max-width: 100%; } }

.l-o-1 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-1 {
      margin-left: 8.33333%; } }

.l-o-2 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-2 {
      margin-left: 16.66667%; } }

.l-o-3 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-3 {
      margin-left: 25%; } }

.l-o-4 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-4 {
      margin-left: 33.33333%; } }

.l-o-5 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-5 {
      margin-left: 41.66667%; } }

.l-o-6 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-6 {
      margin-left: 50%; } }

.l-o-7 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-7 {
      margin-left: 58.33333%; } }

.l-o-8 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-8 {
      margin-left: 66.66667%; } }

.l-o-9 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-9 {
      margin-left: 75%; } }

.l-o-10 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-10 {
      margin-left: 83.33333%; } }

.l-o-11 {
  /* <= phone */
  /* <= phone 739px | 1em trong media la 16px ok*/
  /* >= Tablet 740 */
  /* Tablet - PC low resolution 740px - 1023px ok*/
  /* > PC Low 1024px - 1239px ok*/
  /* PC medium resolution > 1113px */ }
  @media (min-width: 69.5625em) {
    .l-o-11 {
      margin-left: 91.66667%; } }
