.u-background-white{
    background-color: $color-white;
}

.u-text-white{
    color:#ffffff;
}

.u-gradient-ibiza {
    background: #ee0979;
    background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00)!important;
    background: linear-gradient(45deg, #ee0979, #ff6a00)!important;
}

.u-gradient-ohhappiness {
    background: #00b09b;
    background: -webkit-linear-gradient(45deg, #00b09b, #96c93d)!important;
    background: linear-gradient(45deg, #00b09b, #96c93d)!important;
}

.u-gradient-orange {
    background: #fc4a1a;
    background: -webkit-linear-gradient(45deg, #fc4a1a, #f7b733)!important;
    background: linear-gradient(45deg, #fc4a1a, #f7b733)!important;
}

.u-gradient-scooter {
    background: #4facfe;
    background: -webkit-linear-gradient(45deg, #4facfe 0%, #00f2fe 100%)!important;
    background: linear-gradient(45deg, #4facfe 0%, #00f2fe 100%)!important;
}