$color-primary-light-grey: #f8f7ff;
$color-primary-dark:#495057;
$color-black: #000000;
$color-grey-light:#d8d8d8;
$color-grey-light-4: #e9ecef;
$color-secondary-dark: #212529;
$color-secondary-black-1: #4e4e4e;
$color-secondary-black-2: #353434;
$color-white: #ffffff;
$color-blue-4:#14b6ff; 


$color-border-1:#3962fe05;
$color-border-2:#756cfe1f;


$color-grey-dark-1:#343a40;


$color-grey-light-1: rgba(255,255,255,.5);
$color-grey-light-2: rgba(255, 255, 255, 0.75);
$color-grey-light-3: rgba(255, 255, 255, 0.2);


$height-navi: 5rem;
$width-sidebar: 225px;

// $color-data-loading-1:
$color-blue-1:#6a11cb; 
$color-blue-2:#2575fc; 
$color-blue-3:#7934f3; 

$color-orange-1:#fc4a1a;
$color-orange-2:#f7b733;
$color-green-1:#00b09b;
$color-green-2:#96c93d;
$color-pink-1:#ee0979;
$color-pink-2:#ff6a00;








